.three_d_space {
  perspective: 40rem;
  width: 100%;
  height: 100%;
}

.flippable {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

// Fix the front showing through the card when the back should be showing.
// Only apply this fix in Safari so it doesn't cause blur when cards are zoomed.
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .front {
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
}

.back {
  transform: rotateY(180deg);
}
