.card_table {
  background: #191919;
  padding-top: 10rem;
}

.worship_stick {
  margin: auto;
  margin-top: -3rem;
  width: 20rem;
}

.floor {
  position: relative;
  background-color: #4e3a28;
  background-image: url("/images/dirt.png");
  background-repeat: repeat;
  background-size: 25rem;
  height: 30rem;
}
