.card_table {
  background: #191919;
  padding-top: 10rem;
  overflow: hidden;
  position: relative;
}

.worship_stick {
  margin: auto;
  margin-top: -4rem;
  width: 20rem;
}

.table_edge {
  position: relative;
  background-color: #4e3a28;
  background-image: url("/images/dirt.jpeg");
  background-repeat: repeat;
  background-size: 25rem;
  padding: 5rem 0;
}

.felt_cloth {
  position: relative;
  width: 100%;
  height: 78.5rem;

  background-color: rgb(50, 90, 63);
  background-image: url("/images/felt_cloth.jpeg");
  background-repeat: repeat;
  background-size: 10rem;

  border-top: 0.7rem solid #38261b;
  border-bottom: 0.7rem solid #38261b;
}

@media only screen and (max-width: 1230px) {
  .felt_cloth {
    height: 85rem;
  }
}

.rain1 {
  --s: 1px 12px;
  --c: rgba(255, 255, 255, 0.2);
  --a: -15deg;
  --w: 212px;
  --h: 220px;

  animation: rain 0.8s linear infinite;
}

.rain2 {
  --s: 1px 15px;
  --c: rgba(255, 255, 255, 0.1);
  --a: -14deg;
  --w: 280px;
  --h: 300px;

  animation: rain 0.75s linear infinite;
}

.rain3 {
  --s: 1px 10px;
  --c: rgba(255, 255, 255, 0.3);
  --a: -16deg;
  --w: 240px;
  --h: 250px;

  pointer-events: none;
  animation: rain 0.85s linear infinite;
}

.rain1, .rain2, .rain3 {
  position: absolute;
  height: calc(150% + var(--h));
  bottom: 0;
  left: -30%;
  right: -30%;

  background:
    radial-gradient(var(--s), var(--c) 100%, transparent 100%) -24px 6px,
    radial-gradient(var(--s), var(--c) 100%, transparent 100%) 78px 0,
    radial-gradient(var(--s), var(--c) 100%, transparent 100%) 24px 48px,
    radial-gradient(var(--s), var(--c) 100%, transparent 100%) 96px 92px,
    radial-gradient(var(--s), var(--c) 100%, transparent 100%) 156px 120px,
    radial-gradient(var(--s), var(--c) 100%, transparent 100%) 20px 172px;

  background-size: var(--w) var(--h);
  transform: skew(var(--a));
}

// Safari doesn't support the first argument in radial gradients.
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .rain1, .rain2, .rain3 {
      display: none;
    }
  }
}

@keyframes rain {
  to {
    transform: skew(var(--a)) translateY(var(--h));
  }
}
