.card_table {
  background: #191919;
  padding-top: 10rem;
  overflow: hidden;
}

.worship_stick {
  margin: auto;
  margin-top: -4rem;
  width: 20rem;
}

.felt_cloth {
  position: relative;
  width: 100%;
  height: 78.5rem;

  background-image: url("/images/felt_cloth.jpeg");
  background-repeat: repeat;
  background-size: 10rem;

  border-top: 0.7rem solid #38261b;
  border-bottom: 0.7rem solid #38261b;
}

@media only screen and (max-width: 1230px) {
  .felt_cloth {
    height: 85rem;
  }
}
