.filter_row {
  position: absolute;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

// Causes wrapped dropdowns to be hidden because they're wrapped below the height of the container.
.full_height {
  height: 100%;
  display: flex;
  align-items: center;
}

.display_none {
  display: none;
}

.dropdown {
  width: 11rem;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  margin: 0 0.5rem;

  * {
    cursor: pointer !important;
  }

  svg {
    transform: scale(1.2);
  }
}

.option_count {
  color: #38261b;
  display: none;
}

:global(.dropdown__menu) {
  .option_count {
    display: inline;
  }
}

.fake_dropdown {
  width: 11rem;
  height: 40px;
  background: #38261b;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: not-allowed;

  &:hover .na {
    color: white;
  }
}

.show_filters {
  color: rgba(255, 255, 255, 0.85);
  background: none;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 1px;
}
