@mixin black_background {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0.6%;
  border-bottom-left-radius: 4.25% 7%;
  border-bottom-right-radius: 4.25% 7%;

  background-color: black;
  background-image: url(/images/color_particles.jpeg);
  background-size: 133%;
  background-position: center;
  animation-name: zoom_background;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 60s;
}

@keyframes zoom_background {
  0%, 100% { background-size: 100%; }
  50% { background-size: 167%; }
}
