.card_front {
  width: 100%;
  height: 100%;
  border-radius: 5% / 3.5714285714%; // 5 * 15/21
  background-color: #aaa;
  background-image: url(/images/silver_foil.jpeg);
  background-size: 200%;
  padding: 1.5%;
  padding-bottom: 0;
  box-sizing: border-box;

  svg {
    font-family: "Trebuchet MS";
    font-weight: bold;
  }
}

.paper {
  height: 94%;
  border-radius: 4.25% / 3.0357142857%; // 4.25 * 15/21
  background-color: white;
  background-image: url(/images/paper.jpeg);
  background-size: 100%;
  overflow: hidden;
}

.title {
  width: 93%;
  height: 10%;
  margin: 1% auto;
  display: block;
  fill: #222;
}

.bottom_row {
  width: 93%;
  height: 6%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.edition {
  width: 40%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.8);
  text-shadow: 0.2rem 0.2rem 0.2rem white;
}

.number {
  width: 23.27%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.8);
  text-shadow: 0.2rem 0.2rem 0.2rem white;
}

.video {
  width: 100%;
  height: 46%;
  display: flex;
  align-items: center;
  background: #bbb;
  background-image: url(/images/foil_mesh.jpeg);
  background-size: 50% 140%;

  video {
    position: absolute; // Prevents blur when zoomed.
    width: 97%;
  }
}

.type {
  position: absolute;
  left: 1.5%;
  right: 1.5%;
  top: 54.6%;
  bottom: 5.7%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 100%;
    display: block;
  }

  .player {
    width: 33%;

    &.swim_left_1,
    &.swim_left_2,
    &.swim_left_3,
    &.swim_left_4,
    &.swim_left_5,
    &.swim_left_6,
    &.swim_left_7,
    &.swim_left_8,
    &.swim_right_1,
    &.swim_right_2,
    &.swim_right_3,
    &.swim_right_4,
    &.swim_right_5,
    &.swim_right_6,
    &.swim_right_7,
    &.swim_right_8 {
      width: 57.926245943%; // 33% * 4507 / 2773 * 1.08
    }

    &.swim_left_1,
    &.swim_left_2,
    &.swim_left_3,
    &.swim_left_4,
    &.swim_left_5,
    &.swim_left_6,
    &.swim_left_7,
    &.swim_left_8,
    &.swim_right_1,
    &.swim_right_2,
    &.swim_right_3,
    &.swim_right_4,
    &.swim_right_5,
    &.swim_right_6,
    &.swim_right_7,
    &.swim_right_8,
    &.tread_water_1,
    &.tread_water_2,
    &.tread_water_3,
    &.tread_water_4,
    &.tread_water_5,
    &.dive {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        bottom: 0.7%;
        background: rgba(38, 47, 251, 0.4);
        border-bottom-left-radius: 4.25% 18%;
        border-bottom-right-radius: 4.25% 18%;
      }
    }

    &.tread_water_1,
    &.tread_water_2,
    &.tread_water_3,
    &.tread_water_4,
    &.tread_water_5 {
      margin-bottom: 2%;

      &:before {
        top: 28%;
        background: rgba(38, 47, 251, 0.35);
        border-bottom-left-radius: 4.25% 10%;
        border-bottom-right-radius: 4.25% 10%;
      }
    }

    &.dive {
      margin-bottom: 2%;

      &:before {
        top: 0;
        background: rgba(38, 47, 251, 0.5);
        border-bottom-left-radius: 4.25% 7%;
        border-bottom-right-radius: 4.25% 7%;
      }
    }

    &.climb_1,
    &.climb_2 {
      margin-bottom: 12%;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0.7%;
        background-image: url(/images/types/ladder.png);
        background-repeat: repeat-y;
        background-position: bottom;
        background-size: 18.4871194362%;
        opacity: 0.3;
      }

      img {
        position: relative;
      }
    }

    &.climb_1 img {
      right: 1.5%;
    }

    &.climb_2 img {
      left: 1.5%;
    }

    &.jump_left_1,
    &.jump_left_2,
    &.jump_left_3,
    &.jump_left_4,
    &.jump_left_5 {
      margin-bottom: 2%;
    }
  }

  .crab {
    width: 51.3084%; // 33% * 0.7774 / 0.5;
    margin-bottom: -1.2%;

    &.crab_swim_left,
    &.crab_swim_right,
    &.crab_floating {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0.7%;
        background: rgba(38, 47, 251, 0.4);
        border-bottom-left-radius: 4.25% 10%;
        border-bottom-right-radius: 4.25% 10%;
      }
    }

    &.crab_swim_left {
      margin-bottom: 8%;
      margin-left: -20%;
    }

    &.crab_swim_right {
      margin-bottom: 8%;
      margin-right: -20%;
    }

    &.crab_floating {
      margin-bottom: 23%;
    }
  }

  .inactive {
    width: 40%;
    margin-bottom: 0.3%;
  }

  .active {
    width: 40%;
    margin-bottom: 0.3%;
  }
}
