.card_front {
  width: 100%;
  height: 100%;
  border-radius: 5% / 3.5714285714%; // 5 * 15/21
  background-color: #aaa;
  background-image: url(/images/silver_foil.jpeg);
  background-size: 200%;
  padding: 1.5%;
  padding-bottom: 0;
  box-sizing: border-box;

  svg {
    font-family: "Trebuchet MS";
    font-weight: bold;
  }
}

.paper {
  height: 94%;
  border-radius: 4.25% / 3.0357142857%; // 4.25 * 15/21
  background-color: white;
  background-image: url(/images/paper.jpeg);
  background-size: 100%;
  overflow: hidden;
}

.title {
  width: 93%;
  height: 10%;
  margin: 1% auto;
  display: block;
  fill: #222;
}

.bottom_row {
  width: 93%;
  height: 6%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.edition {
  width: 40%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.8);
  text-shadow: 0.2rem 0.2rem 0.2rem white;
}

.number {
  width: 23.27%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.8);
  text-shadow: 0.2rem 0.2rem 0.2rem white;
}

.video {
  width: 100%;
  height: 46%;
  display: flex;
  align-items: center;
  background: #bbb;
  background-image: url(/images/foil_mesh.jpeg);
  background-size: 50% 140%;

  video {
    position: absolute; // Prevents blur when zoomed.
    width: 97%;
  }
}

.graphic {
  img {
    width: 80%;
    position: absolute;
    bottom: 3.4%;
    left: 10%;
  }
}

.graphic {
  flex: 1;
}
