@import "./mixins";

.card_front {
  width: 100%;
  height: 100%;

  &.master_copy {
    filter: drop-shadow(0 0 2rem #97f);
  }

  svg {
    font-family: "Trebuchet MS";
    font-weight: bold;
    fill: rgba(0, 0, 0, 0.8);
  }
}

.shiny_material {
  width: 100%;
  height: 100%;
  border-radius: 5% / 3.5714285714%; // 5 * 15/21
  background-color: #aaa;
  background-image: url(/images/silver_foil.jpeg);
  background-size: 200%;
  padding: 1.5%;
  padding-bottom: 0;
  box-sizing: border-box;

  &.top_left_folded_corner,
  &.top_right_folded_corner,
  &.bottom_left_folded_corner,
  &.bottom_right_folded_corner {
    &:after {
      content: "";
      position: absolute;
      width: 12%;
      height: 8.5714285714%;
      background-image: url(/images/folded_corner.png);
      background-size: 100%;
    }
  }
}

.silver_glitter .shiny_material {
  background-image: url(/images/silver_glitter.jpeg);
  background-size: 50%;
}

.gold_glitter .shiny_material {
  background-image: url(/images/gold_glitter.jpeg);
  background-size: 70%;
}

.top_left_folded_corner {
  clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 8.5714285714%);
  &:after { top: 0; left: 0; transform: scaleX(-1) scaleY(-1); }
}

.top_right_folded_corner {
  clip-path: polygon(0% 0%, 88% 0%, 100% 8.5714285714%, 100% 100%, 0% 100%);
  &:after { top: 0; right: 0; transform: scaleY(-1); }
}

.bottom_left_folded_corner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%, 0% 91.4285714286%);
  &:after { bottom: 0; left: 0; transform: scaleX(-1); }
}

.bottom_right_folded_corner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 91.4285714286%, 88% 100%, 0% 100%);
  &:after { bottom: 0; right: 0; }
}

.peeling_foil {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5% / 3.5714285714%;
  background-image: url(/images/peeling_foil.png);
  background-size: 100%;
}

.paper {
  height: 94%;
  border-radius: 4.25% / 3.0357142857%; // 4.25 * 15/21
  background-color: white;
  background-image: url(/images/paper.jpeg);
  background-size: 100%;
  overflow: hidden;
}

.yellowing {
  position: absolute;
  width: 97%;
  height: 93%;
  border-radius: 4.25% / 3.0357142857%; // 4.25 * 15/21
  background-image: url(/images/yellowing.png);
  background-size: 100%;
  background-position: bottom;
}

.title {
  width: 93%;
  height: 10%;
  margin: 1% auto;
  display: block;
  fill: #222;
}

.bottom_row {
  width: 93%;
  height: 6%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.edition {
  flex: 40;
  height: 100%;
  text-shadow: -0.2rem 0.2rem 0.2rem white;
}

.tier {
  flex: 60;
  height: 100%;
  text-shadow: -0.2rem 0.2rem 0.2rem white;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .tier_icon {
    width: 6%;
    margin-left: 5%;

    &.glasses { width: 13%; }
    &.helix { width: 10%; }
  }

  .tier_name {
    width: 66.66666667%;
    height: 100%;

    &.immortal { margin-left: -8%; }
    &.ethereal { margin-left: -10%; }
    &.virtual { margin-left: -17%; }
    &.celestial { margin-left: -10%; }
    &.godly { margin-left: -21%; }
  }
}

.silver_glitter, .gold_glitter {
  .edition, .tier {
    text-shadow: -0.1rem 0.1rem 0.1rem white;
  }
}

.video {
  position: absolute;
  top: 11.7%;
  left: 1.5%;
  width: 97.1%;
  height: 42.65%;
  background: #bbb;
  background-image: url(/images/foil_mesh.jpeg);
  background-size: 50% 140%;

  video {
    position: absolute; // Prevents blur when zoomed.
    width: 100%;
    top: 4.258168184%;
  }
}

.silver_glitter .video {
  background-image: url(/images/silver_glitter.jpeg);
  background-size: 50%;
}

.gold_glitter .video {
  background-image: url(/images/gold_glitter.jpeg);
  background-size: 70%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 91.4%;
  top: 4.258168184%;

  .master_copy_grid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-size: 4.99% 9.07%;
    background-image:
      linear-gradient(to right, rgba(153, 119, 255, 0.5) 1%, transparent 1px),
      linear-gradient(to bottom, rgba(153, 119, 255, 0.5) 1%, transparent 1px);
  }

  .master_copy_text {
    position: absolute;
    width: 17%;
    height: 9.7%;
    left: 1.7%;
    text-shadow: 0 0 0.5rem black;

    * {
      fill: #97f;
    }
  }

  .number {
    position: absolute;
    width: 12%;
    height: 10%;
    right: 1.7%;

    * {
      fill: white; // TODO: dependent on puzzle
    }
  }
}

:global(.referrer_generate_images) {
  .card_front:not(.master_copy) {
    filter: drop-shadow(0 0 1rem black);
  }

  // Make the grid and the text at the top easier to see in the generated images.
  .overlay {
    .master_copy_grid {
      background-image:
        linear-gradient(to right, rgba(153, 119, 255, 0.5) 1%, transparent 5px),
        linear-gradient(to bottom, rgba(153, 119, 255, 0.5) 1%, transparent 5px);
    }

    .master_copy_text {
      transform-origin: top left;
      transform: scale(1.8) translateX(5%);
    }

    .number {
      transform-origin: top right;
      transform: scale(1.8) translateX(-5%);
    }
  }
}

.fingerprint, .ink_stain {
  position: absolute;
  width: 97%;
  height: 93%;
  border-radius: 4.25% / 3.0357142857%;
  left: 1.5%;
  top: 1.5%;
  overflow: hidden;

  img {
    position: absolute;
  }
}

.coffee_stain {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5% / 3.5714285714%; // 5 * 15/21
  left: 0;
  top: 0;
  overflow: hidden;

  img {
    position: absolute;
  }
}

.signature {
  position: absolute;
}

.type {
  position: absolute;
  left: 1.5%;
  right: 1.5%;
  top: 54.3%;
  bottom: 5.7%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 100%;
    display: block;
  }

  .player {
    width: 33%;

    &.swim_left_1,
    &.swim_left_2,
    &.swim_left_3,
    &.swim_left_4,
    &.swim_left_5,
    &.swim_left_6,
    &.swim_left_7,
    &.swim_left_8,
    &.swim_right_1,
    &.swim_right_2,
    &.swim_right_3,
    &.swim_right_4,
    &.swim_right_5,
    &.swim_right_6,
    &.swim_right_7,
    &.swim_right_8 {
      width: 57.926245943%; // 33% * 4507 / 2773 * 1.08
    }

    &.swim_left_1,
    &.swim_left_2,
    &.swim_left_3,
    &.swim_left_4,
    &.swim_left_5,
    &.swim_left_6,
    &.swim_left_7,
    &.swim_left_8,
    &.swim_right_1,
    &.swim_right_2,
    &.swim_right_3,
    &.swim_right_4,
    &.swim_right_5,
    &.swim_right_6,
    &.swim_right_7,
    &.swim_right_8,
    &.tread_water_1,
    &.tread_water_2,
    &.tread_water_3,
    &.tread_water_4,
    &.tread_water_5,
    &.dive {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        bottom: 0.7%;
        background: rgba(38, 47, 251, 0.4);
        border-bottom-left-radius: 4.25% 18%;
        border-bottom-right-radius: 4.25% 18%;
      }
    }

    &.tread_water_1,
    &.tread_water_2,
    &.tread_water_3,
    &.tread_water_4,
    &.tread_water_5 {
      margin-bottom: 2%;

      &:before {
        top: 28%;
        background: rgba(38, 47, 251, 0.35);
        border-bottom-left-radius: 4.25% 10%;
        border-bottom-right-radius: 4.25% 10%;
      }
    }

    &.dive {
      margin-bottom: 2%;

      &:before {
        top: 0;
        background: rgba(38, 47, 251, 0.5);
        border-bottom-left-radius: 4.25% 7%;
        border-bottom-right-radius: 4.25% 7%;
      }
    }

    &.climb_1,
    &.climb_2 {
      margin-bottom: 12%;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0.7%;
        background-image: url(/images/types/ladder.png);
        background-repeat: repeat-y;
        background-position: bottom;
        background-size: 18.4871194362%;
        opacity: 0.3;
      }

      img {
        position: relative;
      }
    }

    &.climb_1 img {
      right: 1.5%;
    }

    &.climb_2 img {
      left: 1.5%;
    }

    &.jump_left_1,
    &.jump_left_2,
    &.jump_left_3,
    &.jump_left_4,
    &.jump_left_5 {
      margin-bottom: 2%;
    }
  }

  .crab {
    width: 51.3084%; // 33% * 0.7774 / 0.5;
    margin-bottom: -1.2%;

    .crab_sunglasses {
      position: absolute;
      bottom: 8%;
      width: 20%;
      height: 21%;
      left: 40.6%;

      .frame {
        position: absolute;
        width: 100%;
      }

      .left_lens, .right_lens {
        position: absolute;
        top: 26%;
        width: 45%;
      }

      .left_lens {
        right: 49%;
        transform: scaleX(-1);
      }

      .right_lens {
        left: 49%;
      }
    }

    &.crab_point_left .crab_sunglasses {
      transform: rotate(4deg);
    }

    &.crab_point_right .crab_sunglasses {
      transform: rotate(-4deg);
    }

    &.crab_floating .crab_sunglasses {
      transform: translateY(-203%);
    }

    &.crab_swim_left .crab_sunglasses {
      transform: translate(-50%, -75%) rotate(4deg);
    }

    &.crab_swim_right .crab_sunglasses {
      transform: translate(50%, -75%) rotate(-4deg);
    }

    &.crab_swim_left,
    &.crab_swim_right,
    &.crab_floating {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0.7%;
        background: rgba(38, 47, 251, 0.4);
        border-bottom-left-radius: 4.25% 10%;
        border-bottom-right-radius: 4.25% 10%;
      }
    }

    &.crab_swim_left {
      margin-bottom: 8%;
      margin-left: -20%;
    }

    &.crab_swim_right {
      margin-bottom: 8%;
      margin-right: -20%;
    }

    &.crab_floating {
      margin-bottom: 23%;
    }
  }

  .cloak {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.white {
      &:before {
        @include black_background;
      }

      .text {
        fill: white;
        position: relative;
      }
    }

    video {
      position: absolute;
      left: 0;
      top: -1%;
      width: 118%;
      left: -9%;

      animation-name: move-up-and-down;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    .text {
      width: 50%;
      height: 20%;
    }
  }

  .inactive {
    img {
      width: 44%;
      margin: auto;
      margin-bottom: 0.3%;
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
    }

    &.yellow img, &.white img {
      filter: none;
    }

    &.black img {
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.6));
    }
  }

  .active {
    img {
      width: 81.3%;
      margin: auto;
      margin-bottom: 0.3%;
    }

    &.yellow img {
      filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.2));
    }

    &.black img {
      filter: drop-shadow(0 0 0.5rem #97f);
    }

    .text {
      margin-top: -1%;
    }
  }

  .inactive, .active {
    &.white {
      &:before {
        @include black_background;
      }

      .text, .left_text, .right_text {
        fill: white;
      }
    }

    img {
      position: relative;
    }

    .text {
      position: absolute;
      width: 70%;
      left: 15%;
      top: 0;
      height: 25%;

      &.raised {
        height: 21%;
      }
    }

    .left_wall, .right_wall, .top_wall {
      position: absolute;
      top: 22.3%;
      background-image: url(/images/foil_mesh.jpeg);
    }

    .left_wall, .right_wall {
      width: 3.9375%;
      height: 77%;
      background-size: auto 200%;
    }

    .left_wall {
      left: 26%;
    }

    .right_wall {
      right: 26%;
      background-position: right;
    }

    .top_wall {
      width: 48%;
      left: 26%;
      height: 7%;
      background-size: 104.16666667%;
    }

    .left_cross, .right_cross {
      position: absolute;
      width: 7%;
      bottom: 33%;
    }

    .left_cross {
      left: 22.5%;
    }

    .right_cross {
      right: 22.5%;
    }

    .left_text, .right_text {
      position: absolute;
      width: 20%;
      height: 10%;
      bottom: 34.8%;
    }

    .left_text {
      left: 3%;
    }

    .right_text {
      width: 18%;
      right: 6.3%;
    }
  }

  .teleport {
    &:before {
      @include black_background;
    }

    video {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  .telescope {
    margin-bottom: -3.1%;
    width: 80%;

    .particles {
      position: absolute;
      width: 27%;
      top: -11%;
    }

    .lock {
      position: absolute;
      width: 13.816925734%; // 80 * 0.4/2.316;
      top: 22.2%;
    }

    &.white {
      &:before {
        @include black_background;
      }

      .text {
        fill: white;
      }
    }

    img {
      position: relative;
    }

    &.yellow .lock {
      filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.2));
    }

    .text {
      position: absolute;
      top: 47%;
      width: 40%;
      height: 20%;
    }

    &:not(&.mirrored) {
      margin-right: 3%;

      .particles {
        right: 27.5%;
      }

      .lock {
        right: 10.5%;
        transform: rotate(11deg);
      }

      .text {
        transform: rotate(11deg);
        right: 1%;
      }
    }

    &.mirrored {
      .body {
        margin-left: 3%;
        transform: scaleX(-1);
      }

      .particles {
        left: 27.5%;
        transform: scaleX(-1);
      }

      .lock {
        left: 11.3%;
        transform: rotate(-11deg);
      }

      .text {
        transform: rotate(-11deg);
        left: 1%;
      }
    }
  }

  .helix {
    width: 60%;

    &:before {
      @include black_background;
    }

    img {
      position: absolute;
      width: 60%;
      top: 0;
    }

    &.mirrored img {
      transform: scaleX(-1);
    }

    .left_sensor, .right_sensor {
      position: absolute;
      top: 39.5%;
      width: 19.5%;
      height: 7%;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:global {
        &.red { background: rgb(255, 47, 57); }
        &.green { background: rgb(82, 241, 83); }
        &.blue { background: rgb(50, 180, 255); }
        &.yellow { background: rgb(255, 253, 69); }
        &.pink { background: rgb(246, 128, 252); }
        &.white { background: white; }

        &.black {
          background: black;
          box-shadow: 0 0 0.3rem #97f;
          fill: #b9f;
        }
      }
    }

    .left_sensor {
      left: 30%;
    }

    .right_sensor {
      right: 30%;
    }

    .left_text {
      top: 50%;
      left: 30%;
    }

    .right_text {
      top: 50%;
      right: 30%;
    }
  }

  .beacon {
    width: 100%;
    height: 99.6%;
    margin-bottom: 0.3%;
    border-bottom-left-radius: 4.25% 7%;
    border-bottom-right-radius: 4.25% 7%;
    overflow: hidden;
    position: relative;

    .text {
      position: absolute;
      width: 50%;
      left: 25%;
      height: 20%;
      top: 12%;
    }

    &.white {
      height: 100%;
      margin-bottom: 0;

      &:before {
        @include black_background;
      }

      .text {
        fill: white;
      }
    }

    .triangles {
      display: block;
      position: relative;
    }

    stop.red { stop-color: rgba(240, 63, 43, 0.8); }
    stop.green { stop-color: rgba(51, 207, 94, 0.8); }
    stop.blue { stop-color: rgba(58, 124, 255, 0.8); }
    stop.yellow { stop-color: rgba(230, 230, 69, 0.8); }
    stop.pink { stop-color: rgba(235, 76, 241, 0.8); }
    stop.white { stop-color: rgba(255, 255, 255, 1); }
    stop.black { stop-color: rgba(0, 0, 0, 0.8); }
  }

  .torch {
    height: 100%;
    display: flex;
    justify-content: center;

    &:before {
      @include black_background;
    }

    .beam, .base {
      height: 90%;
      position: absolute;
      top: -2%;

      animation-name: change-torch-width;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    .beam {
      animation-name: change-torch-width-and-opacity;
    }

    .left_text {
      top: 20%;
      left: 10%;
    }

    .right_text {
      top: 20%;
      right: 10%;
    }

    .red { stop-color: rgb(255, 47, 57); }
    .green { stop-color: rgb(82, 241, 83); }
    .blue { stop-color: rgb(50, 180, 255); }
    .yellow { stop-color: rgb(255, 253, 69); }
    .pink { stop-color: rgb(246, 128, 252); }
    .white { stop-color: white; }
    .black { stop-color: #444; }
  }

  .helix, .torch {
    .left_text, .right_text {
      position: absolute;
      fill: white;
      width: 18%;
      height: 15%;

      &:global {
        &.green { transform: scale(0.97); }
        &.yellow { transform: scale(0.86); }
        &.blue { transform: scale(0.95); }
        &.pink { transform: scale(0.93); }
        &.white { transform: scale(0.95); }
        &.black { transform: scale(0.88); }
      }
    }

    .left_text {
      transform-origin: left;
    }

    .right_text {
      transform-origin: right;
    }
  }

  .map {
    width: 75%;
    display: flex;
    justify-content: center;

    .clock {
      position: absolute;
      width: 16.5664773529%; // 75% * 0.75101364/3.4;
      margin-top: 1.5%;

      animation-name: spin-clockwise;
      animation-duration: 777s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .arrow {
      position: absolute;
      width: 2.5%;
    }

    .blur_1, .blur_2, .blur_3, .blur_4, .blur_5, .blur_6, .blur_7, .blur_8 {
      position: absolute;
      width: 3.4082756496%; // 75% * 0.125 / 2.7506578
    }

    .blur_1 { left: 15.3%; top: 79.7%; }
    .blur_2 { left: 20%; top: 76.3%; }
    .blur_3 { left: 15.5%; top: 40%; }
    .blur_4 { left: 20%; top: 11.2%; }
    .blur_5 { left: 78.5%; top: 12.7%; }
    .blur_6 { left: 83%; top: 26.3%; }
    .blur_7 { left: 79.5%; top: 76.2%; }
  }

  .glasses {
    width: 80%;
    margin-bottom: 1%;

    .left_lens, .right_lens {
      position: absolute;
      width: 35%;
      top: 22%;
    }

    .left_lens {
      transform: scaleX(-1);
      left: 15%;
    }

    .right_lens {
      right: 15%;
    }

    .frame {
      position: relative;
    }

    .left_text, .right_text {
      position: absolute;
      top: 38%;
      width: 25%;
      height: 25%;

      &:global {
        &.yellow { transform: scale(0.87); }
        &.pink { transform: scale(0.95); }
        &.white { transform: scale(0.9); }
        &.black {
          fill: white;
          font-weight: normal;
          transform: scale(0.85);
        }
      }
    }

    .left_text {
      left: 18%;
    }

    .right_text {
      right: 18%;
    }
  }

  .eclipse {
    width: 50%;
    margin-bottom: 4.2%;

    &:before {
      @include black_background;
    }

    .sprite {
      position: relative;
    }

    .particles {
      position: absolute;
      width: 50%;
      filter: saturate(1000%);
    }
  }

  .door {
    width: 33%;
    margin-bottom: -5.8%;

    &:before {
      @include black_background;
    }

    img {
      position: relative;
    }
  }

  .hidden {
    width: 40%;
    height: 40%;
    margin-bottom: 18.5%;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: rgba(0, 0, 0, 0.3);
    }
  }

  .star {
    width: 25%;
    margin-bottom: 23%;

    &:before {
      @include black_background;
    }

    img {
      position: relative;
      filter: drop-shadow(0 0 0.2rem white);

      animation-name: spin-clockwise;
      animation-duration: 60s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &.spin_quickly {
        animation-duration: 6s;
      }
    }

    svg {
      position: absolute;
      width: 30%;
      height: 30%;
      left: 35%;
      bottom: 7%;
      fill: white;
      text-shadow: 0 0 0.5rem black;
    }
  }

  .artwork {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
      position: relative;

      &.mirrored {
        transform: scaleX(-1);
      }
    }

    &.player_sketch {
      img { width: 10.5%; margin-bottom: -0.5%; }
    }

    &.ice_block {
      &:before { @include black_background; }
      img { width: 41%; margin-bottom: 0.3%; }
    }

    &.car_body {
      img { width: 95%; margin-bottom: 5.3%; }
    }

    &.car_tyre {
      align-items: center;

      img {
        width: 35%;
        animation-name: spin-clockwise;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &.mirrored {
          animation-name: spin-counter-clockwise;
        }
      }
    }

    &.two_torches {
      align-items: center;
      img { width: 50%; }
    }

    &.book_cover {
      img { width: 40%; margin-bottom: 0.3%; }
    }

    &.jellyfish {
      align-items: center;

      &:before {
        @include black_background;
      }

      img {
        width: 28%;
        transform: rotate(15deg);

        &.mirrored {
          transform: rotate(-15deg);
        }
      }
    }

    &.big_tree {
      img {
        width: 50%;
        margin-bottom: -5%;
        margin-left: 15%;

        &.mirrored {
          margin-left: -15%;
        }
      }
    }

    &.small_tree {
      img {
        width: 45%;
        margin-bottom: -4.5%;
        margin-left: 15%;

        &.mirrored {
          margin-left: -15%;
        }
      }
    }

    &.ladder_tree {
      img { width: 50%; margin-bottom: -3.5%; }
    }

    &.baby_crab {
      img { width: 20%; margin-bottom: -0.3%; }
    }

    &.solar_spikes {
      &:before { @include black_background; }
    }

    &.ancient_door {
      img { width: 42%; margin-bottom: 0.3%; }
    }

    &.overgrown_door {
      img { width: 47%; margin-bottom: 0.3%; }
    }

    &.anglerfish {
      img { width: 90%; margin-bottom: 10%; }
    }

    &.seaweed {
      img { margin-bottom: -3%; }
    }

    &.starfish {
      align-items: center;

      img {
        width: 40%;
        animation-name: spin-clockwise;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &.mirrored {
          animation-name: spin-counter-clockwise;
        }
      }
    }

    &.helix_coral {
      height: 200%;
      margin-bottom: -8.2%;
      overflow: hidden;

      &:before {
        @include black_background;
      }

      img {
        width: 150%;
        transform: rotate(-40deg);
        margin-left: 5%;
        margin-bottom: 8%;

        &.mirrored {
          transform: rotate(40deg);
          margin-left: -5%;
        }
      }
    }

    &.torch_coral {
      img { width: 30%; margin-bottom: -2.5%; }
    }

    &.frozen_sun, &.frozen_moon {
      &:before { @include black_background; }
      img { width: 48%; }
    }

    &.sun_padlock {
      img { width: 50%; margin-bottom: 0.3%; }
    }

    &.black_hourglass, &.white_hourglass {
      align-items: center;

      img {
        width: 28%;

        animation-name: spin-hourglass;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &.white_hourglass {
      &:before { @include black_background; }
    }
  }
}

@keyframes spin-clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-counter-clockwise {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes spin-hourglass {
  0% { transform: rotate(360deg); }
  25% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes move-up-and-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(52%); }
}

@keyframes change-torch-width {
  0%, 25%, 100% { transform: scaleX(1); }
  50%, 75% { transform: scaleX(1.5); }
}

@keyframes change-torch-width-and-opacity {
  0%, 25%, 100% { transform: scaleX(1); opacity: 0.85 }
  50%, 75% { transform: scaleX(1.5); opacity: 0.6 }
}

// Safari only.
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .type .cloak video {
      animation-name: none !important;
    }
  }
}
