.action_name {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS";
  font-size: 1.4rem;

  a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    position: absolute;

    &:hover {
      color: rgba(230, 225, 80, 0.8);
    }
  }
}

.morphing {
  filter: url(#threshold) blur(0.5px);
}
