.action_name {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS";
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;

  span {
    position: absolute;
  }
}

.morphing {
  filter: url(#threshold) blur(0.5px);
}
