.draggable {
  opacity: 1;
  animation-name: fade_in;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}

.flippable, .iframe, .back {
  width: 15rem;
  height: 21rem;
  border-radius: 0.75rem;
  pointer-events: none;
}

.iframe {
  border: none;
}

.back {
  background: yellow;
}

@keyframes fade_in {
  from { opacity: 0; }
  to { opacity: 1; }
}
