.draggable {
  left: calc(50% - 4.5rem);
  top: 16.8rem;
  transition: opacity 0.5s ease-in;
}

.flippable, .front, .back {
  width: 9rem;
  height: 9rem;

  img, .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.back img {
  image-rendering: -moz-crisp-edges;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mint {
    font-size: 1.6rem;
    font-family: Georgia, sans-serif;
  }

  &.dark_mode .mint {
    color: #ddd;
  }

  .price {
    font-size: 1.2rem;
    font-family: Times, sans-serif;
    color: green;
  }

  &.dark_mode .price {
    color: lime;
  }
}
