.draggable {
  left: calc(50% - 4.5rem);
  top: 16.8rem;
  transition: opacity 0.5s ease-in;
}

.flippable, .front, .back {
  width: 9rem;
  height: 9rem;

  img, .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.front {
  pointer-events: none;
}

.back {
  cursor: default;
}

.back img {
  image-rendering: -moz-crisp-edges;
}

// Safari only.
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .back img {
      transform: translateZ(0);
    }

    .back .safari_blurry_text_fix {
      position: absolute;
      left: -450%;
      right: -450%;
      top: -450%;
      bottom: -450%;
      transform: scale(0.1);
      font-size: 1000%;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mint {
    font-size: 1.6em;
    font-family: Georgia, sans-serif;
  }

  &.dark_mode .mint {
    color: #ddd;
  }

  .price {
    font-size: 1.2em;
    font-family: Times, sans-serif;
    color: green;
  }

  &.dark_mode .price {
    color: lime;
  }
}

.dropdown {
  width: 2.19em;
  height: 1.15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Times, sans-serif;
  cursor: pointer;
  user-select: none;

  .placeholder {
    font-size: 0.4em;
    padding-left: 0.35em;
  }

  .chevron {
    font-size: 0.6em;
    color: #777;
    margin-top: -0.45em;
    margin-right: 0.15em;
  }

  // Firefox only.
  @supports (-moz-appearance:none) {
    .chevron {
      margin-top: -0.2em;
      margin-right: 0.2em;
    }
  }

  .menu {
    position: absolute;
    width: 100%;
    background: rgb(246, 246, 246);
    font-size: 0.4em;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
    border-radius: 0.2em;
    white-space: nowrap;

    div {
      height: 1.7em;
      line-height: 1.7em;
      padding-left: 0.2em;
      cursor: pointer;
      position: relative;

      &:hover {
        background: #ccc;
      }

      &.selected {
        background: #aaa;
      }

      img {
        position: absolute;
        right: 0.15em;
        top: 0.2em;
        width: 0.7706636501em;
        height: 1.1em;
      }
    }
  }
}

.number_dropdown {
  position: absolute;
  top: 0;

  .menu {
    top: 2.3em;
  }
}

.tier_dropdown {
  position: absolute;
  bottom: -0.07em;

  .menu {
    bottom: 2.3em;
  }
}
