.draggable {
  left: calc(50% - 4.5rem);
  top: 16.8rem;
  transition: opacity 0.5s ease-in;
}

.flippable, .front, .back {
  width: 9rem;
  height: 9rem;

  img, .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.back img {
  image-rendering: -moz-crisp-edges;
}

// Safari only.
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .back img {
      transform: translateZ(0);
    }

    .back .safari_blurry_text_fix {
      position: absolute;
      left: -450%;
      right: -450%;
      top: -450%;
      bottom: -450%;
      transform: scale(0.1);
      font-size: 1000%;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mint {
    font-size: 1.6em;
    font-family: Georgia, sans-serif;
  }

  &.dark_mode .mint {
    color: #ddd;
  }

  .price {
    font-size: 1.2em;
    font-family: Times, sans-serif;
    color: green;
  }

  &.dark_mode .price {
    color: lime;
  }
}
